<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>i am from the templates</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    *{
        margin: 0px;
        padding: 0px;
    }
</style>
</head>
<body><nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Devil king</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contact us</a>
          </li>
       
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Welcome to text </strong>  anylazer Enter your texbelow
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    <div class="container">
        <form method="POST" action="/removepunch"> {% csrf_token %}
            <div class="form-group">
                <label>Enter Yor text here</label>
            <textarea name="txt" class="form-control" rows="9" cols="9" >            
            </textarea>
        </div>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" name="removepunch" id="customSwitch1">
            <label class="custom-control-label" for="customSwitch1">Remove puchcations</label>
          </div>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" name="fullcaps" id="customSwitch2">
            <label class="custom-control-label" for="customSwitch2">full captilize</label>
          </div>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" name="newlineremo" id="customSwitch3">
            <label class="custom-control-label" for="customSwitch3">New  Line remover</label>
          </div>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" name="charcount" id="customSwitch4">
            <label class="custom-control-label" for="customSwitch4">Count charcater</label>
          </div>
            <button type="submit" class="btn btn-primary mt-2">Anylaze text</button>
        </form> 
    </div>
     
    <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>